body{
    background-color: rgb(8, 31, 23);
}
header{
    background-color: rgb(1, 104, 68);
    color: black;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
main{
    display: flex;
}
article{
    background-color: darkgreen;
    color: black;
    text-align: justify;
}